extends layout 

block content 
  h1= title 

  ul 
    each instance in list_productinstance 
      hr
      h3 #{instance.product.name}
      if instance.status == 'Like New'
        p.text-success #{instance.status}
      else if instance.status == 'Good'
        p.text-info #{instance.status} 
      else if instance.status == 'Fair'
        p.text-warning #{instance.status}
      else 
        p.text-danger #{instance.status}
      p #[strong Id:] 
        a(href=instance.url) #{instance._id}