extends layout

block content

  h1 Theme: #{theme.name}

  div(style='margin-left:20px;margin-top:20px')

    h4 Products

    dl
      each product in theme_products
        dt
          a(href=product.url) #{product.name}

      else
        p This theme has no products.
    hr
    .button-box
      p
        button.btn.btn-primary.detail-btn(type='button') 
          a(href=theme.url+'/delete') Delete Product
      p
        button.btn.btn-primary.detail-btn(type='button') 
          a(href=theme.url+'/update') Update Product